<div class="row g-4">
  <!-- Product 1 (Static) -->
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="product-card">
      <button class="favorite-icon">
        <i class="fa fa-heart"></i>
      </button>
      <img
        src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?w=600"
        class="product-image"
        alt="{{ product.name }}"
      >
      <div class="product-body">
        <div class="thumbnails">
          @for(item of product.photos; track $index){ 
          
              <img src="{{ item.imageName }}" alt="" class="thumbnail-img small-img">
           
          }
        </div>
        <h5 class="product-title">{{ product.name }}</h5>
        <p class="product-description">
          {{ product.description }}
        </p>
        <div class="price-section">
          <span class="old-price">${{ product.oldPrice | currency:'USD' }}</span>
          <span class="new-price">${{ product.newPrice | currency:'USD' }}</span>
        </div>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half"></i>
        </div>
      </div>

      <div class="product-footer">
        <button class="btn btn-outline-primary details-btn">Details</button>
        <button class="btn btn-dark cart-btn">
          <i class="fa fa-shopping-cart"></i> Add To Cart
        </button>
      </div>
    </div>
  </div>
</div>