<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand" routerLink="/">
      <img src="./favicon.ico" alt="Logo" class="logo" />
      &nbsp;
      <i class="text-white brand-name">MyShop</i>
    </a>

    <!-- Toggle -->
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Content -->
    <div class="collapse navbar-collapse" id="navbarNav">

      <!-- Left Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/shop">Shopping</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Best Seller</a>
        </li>
      </ul>

      <!-- Search -->
      <form class="form-inline mx-auto">
        <input class="form-control" type="search" placeholder="Search" />
      </form>

      <!-- Right Icons -->
      <ul class="navbar-nav ml-auto align-items-center">

        <!-- Favorite -->
        <li class="nav-item">
          <a class="nav-link">
            <i class="material-icons icon">favorite_border</i>
          </a>
        </li>

        <!-- Cart -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/Basket">
            <i class="material-icons icon">shopping_cart</i>
          </a>
        </li>

        <!-- Account Dropdown -->
        <li class="nav-item dropdown">

          <a class="nav-link" (click)="toggleDropDown()">
            <i class="material-icons icon">account_circle</i>
          </a>

          <div class="dropdown-menu dropdown-menu-right" [class.show]="isVisible">
            <a class="dropdown-item" routerLink="/account/Register">Register</a>
            <a class="dropdown-item" routerLink="/account/Login">Login</a>
            <a class="dropdown-item" routerLink="/orders">My Order</a>
          </div>

        </li>

      </ul>

    </div>
  </div>
</nav>